@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        /* Change your main primary theme color here */
        primary: mat.$violet-palette,   
        tertiary: mat.$magenta-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light; /* Change to 'dark' here if you want an instant dark mode */

  background-color: var(--mat-sys-background); /* Using background token instead of surface */
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}