/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  
  /* CHANGE THIS HEX CODE TO CHANGE THE GLOBAL BACKGROUND */
  background-color: #eef2f6; 
}